.pixelify-sans-font {
  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.instruction{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1rem;
  z-index: 9999;
}